.bg{
	background-color: red;
}
.b1{
	background-color: #00ff7f;
	font-size: 24px;
}
.bb{
	/* width: 100px;
	height: 100px; */
	}
.b2{
	height: 800px;
	background-color: red;
	background-image: url(../img/mvvm.jpg);
	background-repeat: no-repeat;
}